# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files (e.g., PyCharm, VSCode)
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System-specific files
.DS_Store
Thumbs.db

# Logs and local temporary files
*.log
*.swp
*.swo
*.tmp

# Virtual environment
venv/
.env/

data/